@import "./variables.scss";
@import "./mixin.scss";

.feed {
  flex: 1;
  border-right: 1px solid var(--twitter-background);
  //   min-width: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: $whiteColor;
    // background-color: #cacaca;
    z-index: 100;
    border-right: 1px solid var(--twitter-background);
    padding: 15px 20px;
    &__title {
      font-size: 20px;
      font-weight: 800;
    }
  }
}
