.title {
  color: red;
}
body {
  background-color: aqua;
}
.logoBox {
  background-color: #ffffff;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  &__twitterLogo {
    width: 30px;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__btn {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
  }
  &__googleLogo {
    width: 28px;
    margin-right: 5px;
  }
  &__spanOr {
    display: block;
    width: 40px;
    margin: auto;
    background: #fff;
    font-size: 14px;
    margin-top: -10px;
  }
}
.form-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #999;
  outline: 0;
  padding: 15px 0;
  border-radius: 4px;
}
::placeholder {
  font-weight: 500;
  color: #333;
}
.form-btn {
  background: #000;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 24px;
}
.form-button {
  background: transparent;
  padding: 10px;
  width: 100%;
  border-radius: 24px;
}
.form-text {
  font-size: 14px;
  color: #555;
  margin: 40px 0 50px;
}
.form-a {
  text-decoration: none;
  color: #359cf0;
  margin-left: 100px;
}
