.SidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 100ms ease-out;

  &__icon {
    padding: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
  }
}
.SidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  transition: color 100ms ease-out;
  color: var(--twitter-color);
}
.sidebarOption--active {
  color: var(--twitter-color);
}
