@import "./mixin.scss";
@import "./variables.scss";

* {
  text-decoration: none;
}
.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  //   min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  &__logo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  &__tweetBtn {
    background-color: #1d9bf0;
    border: none;
    border-radius: 27.5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 90px 16px 89px;
    margin-top: 20px;
    width: 100%;
  }
  .iconTitle {
    display: flex;
    column-gap: 15px;
    padding-top: 20px;
  }
  .iconTitle:hover {
    background-color: #1d9cf03f;
    border-radius: 16px;
  }
  .twitterIcon {
    color: var(--twitter-color);
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  // .tweet {
  //   // background-color: var(--twitter-color);
  //   border: none;
  //   // color: #ffffff;
  //   font-weight: 900;
  //   text-transform: inherit;
  //   border-radius: 30px;
  //   height: 50px;
  //   margin-top: 20px;
  // }
}
.active {
  font-weight: 800;
  color: rgb(21, 255, 0);
}
.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $blackColor;
}
.car {
  width: 100%;
  height: 500px;
}
